
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <i class="bi bi-hdd-network-fill text-primary me-2" style="font-size: 2rem;"></i>
            <div class="d-flex flex-column">
              <span class="fw-bold" style="font-size: 1.2rem;">SAKA</span>
              <span class="text-secondary" style="font-size: 0.8rem;">IT-SOLUTIONS</span>
            </div>
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Dienstleistungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">Über Mich</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricing" routerLinkActive="active">Preise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>