<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Kontakt</h5>
          <p>
            <i class="fas fa-envelope me-2"></i>{{emailAddress}}<br>
            <i class="fas fa-phone me-2">+491741928943</i> 
          </p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/services" class="text-light">Dienstleistungen</a></li>
            <li><a href="/about" class="text-light">Über Uns</a></li>
            <li><a href="/contact" class="text-light">Kontakt</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>